.navbar {
    background-color: var(--main-color);
    width: 100%;
    border-radius: 0px;
    position: sticky;
    top: 0;
}
.navbar__container {
    max-width: 1400px;
    margin: auto;
    padding: 1rem;
}
.navbar__logo {
    height: 5rem;
}