.home__container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    min-height: 90vh;
}
.table-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-top__title {
    font-size: 2em;
    font-weight: 600;
    color: var(--main-color);
}

.topSongs_container,
.topArtists_container {
    margin-bottom: 3rem;
}

.topSongs_table,
.topArtists_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.topSongs_table th ,
.topArtists_table th {
    background-color: var(--bg-color);
    text-align: center;
    color: var(--white-color);
}
.topSongs_table th,
.topArtists_table th,
.topSongs_table td ,
.topArtists_table td {
    border: 1px solid var(--bg-color);
    padding: 1rem 2rem;
}

.topSongs_table__img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.home__container .songs_table__artists p ,
.home__container .artist_table__songs p {
    display: inline-block;
    margin: 0.5rem;
}

.home__container tbody td {
    height: 10.25rem;
}